div {
    border-style: none;
    margin-right: 10px;
    padding: 10px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    background-color: white;
}

body {
    background-color:powderblue;
}

button {
    color: navy;
    font-size: 20px;
}

